* {
  margin: 0;
  padding: 0;
  /* border: #6148b0 1px solid; */
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #ffffff 30%, #d68c7a 70% ,#b9799c 90%);
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  font-family: 'Original Surfer', cursive;
  position: relative;
  min-width: 1346px;
  min-height: 98.83px;
  background: rgba(244, 220, 204, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

h1 {
  margin: 10px;
}

h2{
  margin: 10px;
  display: flex;
  justify-content: center;
}

button {
  font-family: 'Original Surfer', cursive;
  border-radius: 50px;
  background: rgba(244, 220, 204, 0.5);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin: 15px;
}

button:hover,
.travel-dropdown:hover {
  background-color: #544948;
  color: white;
}

.book-trip {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.dashboard-container {
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 75%;
  height: 50%;
  max-width: fit-content;
  overflow: auto;
}

.modal-content {
  font-family: 'Lato', sans-serif;
  background: rgba(244, 220, 204);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 30px;
  text-align: center;
}

.input-box {
  padding: 2%;
  width: 500px;
  justify-content: space-between;
}

input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  border-radius: 50px;
}

input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input:hover {
  background-color: #544948;
  color: white;
}

.close-btn {
  margin: 10px;
  color: black;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

p {
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.traveler-trip {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px;
}

.pending-trip {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px;
}

.card {
  max-width: 200px;
  background: rgba(244, 220, 204, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 30px;
}

.travel-history {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.finance-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.finance-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(244, 220, 204, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  max-width: calc(100% - 20px); 
}

.chart-container {
  max-width: 90%;
  height: 350px;
  position: relative;
  margin: 5px;
}
.confirm-button,
.decline-button {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 5px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.hidden {
  display: none;
}


